@media #{$small-and-down} {
  html {
    font-size: 0.8rem;
  }
}

@media #{$medium-and-down} {
  html {
    font-size: 0.9rem;
  }
}

@media #{$medium-and-up} {
  html {
    font-size: 1rem;
  }
}


@media #{$extra-large-and-up} {
  html {
    font-size: 1.1rem;
  }
}


body {
  background-color: $bg-colour;
}