@media #{$small-and-down} {
  html {
    font-size: 0.8rem;
  }
}

@media #{$medium-and-down} {
  html {
    font-size: 0.9rem;
  }
}

@media #{$medium-and-up} {
  html {
    font-size: 1rem;
  }
}


@media #{$extra-large-and-up} {
  html {
    font-size: 1.1rem;
  }
}


body {
  background-color: $bg-colour;
  padding-top: $sm-header-height;

  @media (min-width: 600px) {
    padding-top: $lg-header-height;
  }
}

/*
<ul class="flashes">

                <li class="success">Successfully logged in</li>

        </ul>

*/

ul.flashes {
  li {
    padding: 0.5rem 1rem;
    color: #fff;
    border-radius: 5px;
    margin-bottom: 0.5rem;

    &.success {
      background-color: color('light-green', 'darken-1');
    }

    &.error {
      background-color: color('red', 'darken-1');
    }
  }
}

main.content {
  padding-top: 2rem;
}