$bg-colour: #F2F8FC;
// $primary-color: #1B512D;
$primary-color: color('green', 'darken-4');
$sm-header-height: 54px;
$lg-header-height: 64px; // 667px


/*$primary-color: color("materialize-red", "lighten-2") !default;
$primary-color-light: false !default;
$primary-color-dark: false !default;

$secondary-color: color("teal", "lighten-1") !default;
$success-color: color("green", "base") !default;
$error-color: color("red", "base") !default;

$link-color: color("light-blue", "darken-1") !default;*/
