{% macro recipe_card(recipe, single_class) %}
    <div class="col {{ single_class }}">
        <article class="recipe_card">
            <h5 class="card_title">
                <a href="{{ url_for('view_recipe', recipe_id=recipe._id) }}">
                    {{ recipe.title }}
                </a>
            </h5>
            {% if recipe.introduction %}
                <p>{{ string_limit(recipe.introduction, 30) }}</p>
            {% endif %}
            <div class="row recipeMeta">
                {% from "_recipe_meta.html" import recipe_meta with context %}
                {{ recipe_meta(recipe, 'l6') }}
            </div>
            <a href="{{ url_for('view_recipe', recipe_id=recipe._id) }}"
               class="waves-effect waves-light btn red darken-4">View recipe</a>
        </article>
    </div>
{% endmacro %}