<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Recipe book</title>
    {#
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
#}
    <link rel="stylesheet" href="{{ manifest_css('app.css') }}">
</head>
<body>

<header>
    {% if user.id and user.username %}
        hello, <a href="{{ url_for('user', user_id=user.id) }}"> {{ user.username[0]|upper }}{{ user.username[1:] }}</a>
        <a href="{{ url_for('logout') }}">Logout</a>
    {% endif %}
</header>
<div class="container">
    {% block title %}
    {% endblock %}

    {% block content %}
    {% endblock %}
</div>
{#
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="{{  url_for('static', filename='js/app.js') }}"></script>
#}
{{ manifest_js('runtime.js') | safe }}
{{ manifest_js('npm.style-loader.js') | safe }}
{{ manifest_js('npm.jquery.js') | safe }}
{{ manifest_js('app.js') | safe }}
</body>
</html>