{% extends 'base.html' %}
{% block title %}
    <h3>{{ title }}</h3>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col s12">
            {% include '_messages.html' %}
            {% from "_formhelpers.html" import render_field %}
            <form action="{{ url_for('new_recipe') }}" method="post">
                <div class="row">
                    <div class="col m7">

                        <div class="row">
                            {{ render_field(form.title, 's12') }}
                            {{ render_field(form.introduction, 's12', class='materialize-textarea') }}
                            {{ form.method }}
                            <div class="hidden">
                                {{ form.ingredients }}
                                {{ form.categories }}
                                {{ form.cuisines }}
                                {{ form.allergens }}
                            </div>
                        </div>

                    </div>
                    <div class="col m4 offset-m1">
                        <div id="categoryChips" class="chips chips-initial input-field">
                            <p class="caption">
                                Categories <br>
                                <small>To add category type and hit enter</small>
                            </p>

                            <input class="input" placeholder="Enter a category">
                        </div>
                        <div id="cuisineChips" class="chips chips-initial input-field">
                            <p class="caption">
                                Cuisines <br>
                                <small>To add cuisine type and hit enter</small>
                            </p>

                            <input class="input" placeholder="Enter a cuisine">
                        </div>
                    </div>

                    <div class="col s12 center-align">
                        <button class="waves-effect waves-light btn-large" type="submit">{{ title }}</button>
                    </div>

                </div>
            </form>
        </div>
    </div>





{% endblock %}