{% extends 'base.html' %}
{% block content %}
    {% include 'macros/_messages.html' %}
    {% if recipe %}
        <div class="row">
            <article class="col m7 recipeContent">
                <h1 class="recipeTitle">{{ recipe.title }}</h1>
                {% if recipe.introduction %}
                    <section class="introduction">
                        {{ recipe.introduction }}
                    </section>
                {% endif %}
                {% if recipe.method %}
                    <section class="method">
                        <h3>Method</h3>
                        <ol>
                            {% for method in recipe.method %}
                                <li>{{ method }}</li>
                            {% endfor %}
                        </ol>
                    </section>
                {% endif %}
                <section class="recipeMeta row">
                    {% from "macros/_recipe_meta.html" import recipe_meta with context %}
                    {{ recipe_meta(recipe, 's6 l3') }}
                </section>
                {% if user.username == recipe.author %}
                    <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}"
                       class="waves-effect waves-light btn-large editRecipeBtn">
                        Edit recipe <i class="material-icons right">edit</i>
                    </a>
                {% endif %}
            </article>
            <aside class="col m4 right">
                {% if recipe.ingredients|length %}
                    <div class="widget ingredients row">
                        <h4 class="col s12 widget_title">Ingredients</h4>
                        <ul class="col s12">
                            {% for ingredient in recipe.ingredients %}
                                <li>{{ ingredient }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                {% from "macros/_tags.html" import render_tags %}
                {% if recipe.categories|length %}
                    <div class="widget categories row">
                        {{ render_tags(recipe.categories, 'Categories', 'categories') }}
                    </div>
                {% endif %}
                {% if recipe.cuisines|length %}
                    <div class="widget cuisines row">
                        {{ render_tags(recipe.cuisines, 'Cuisines', 'cuisines') }}
                    </div>
                {% endif %}
                {% if recipe.allergens|length %}
                    <div class="widget allergens row">
                        <h4 class="col s12 widget_title">Allergens</h4>
                        <ul class="s12 browser-default">
                            {% for allergen in recipe.allergens %}
                                <li>{{ allergen|capitalize|safe }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                <div class="widget allergens row">
                    <h4 class="col s12 widget_title">Statistics</h4>
                    <div id="recipeStatisticChart"></div>
                </div>

            </aside>
        </div>
        {% if related|length %}
            <div class="relatedRecipes">
                <div class="row recipeArchive flexPos">
                    <h2 class="col s12">Related recipes</h2>
                    {% from 'macros/_recipe_card.html' import recipe_card with context %}
                    {% for related_recipe in related %}
                        {{ recipe_card(related_recipe, 'm6 xl4') }}
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    {% else %}
        <div class="center-align alerts">
            <p class="warning">No recipe found</p>
            <a href="{{ url_for('index') }}" class="waves-effect waves-light btn red darken-4">Go to home page</a>
        </div>
    {% endif %}
{% endblock %}

{% block footer %}
    {% if recipe %}
{#        <script src="https://d3js.org/d3.v4.js"></script>
        <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
        <script>
            const width = 300;
            const height = 300;
            const margin = 40;

            // The radius of the pieplot is half the width or half the height (smallest one). I substract a bit of margin.
            const radius = Math.min(width, height) / 2 - margin;

            const svg = d3.select("#recipeStatisticChart")
                .append("svg")
                .attr("width", width)
                .attr("height", height)
                .append("g")
                .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");

            // Create data
            const data = {
                views: parseInt(document.getElementById('recipeViews').innerHTML),
                likes: parseInt(document.getElementById('recipeLikes').innerHTML)
            };

            // set the color scale
            const color = d3.scaleOrdinal()
                .domain(data)
                .range(d3.schemeSet2);

            // Compute the position of each group on the pie:
            const pie = d3.pie()
                .value(function (d) {
                    return d.value;
                });
            const data_ready = pie(d3.entries(data));
            // Now I know that group A goes from 0 degrees to x degrees and so on.

            // shape helper to build arcs:
            const arcGenerator = d3.arc()
                .innerRadius(0)
                .outerRadius(radius);

            svg
                .selectAll('mySlices')
                .data(data_ready)
                .enter()
                .append('path')
                .attr('d', arcGenerator)
                .attr('fill', function (d) {
                    return (color(d.data.value));
                })
                .attr("stroke", "white")
                .style("stroke-width", "2px")
                .style("opacity", 0.7);

            // Now add the annotation. Use the centroid method to get the best coordinates
            svg
                .selectAll('mySlices')
                .data(data_ready)
                .enter()
                .append('text')
                .text(function (d) {
                    return d.data.value + ' ' + d.data.key;
                })
                .attr("transform", function (d) {
                    return "translate(" + arcGenerator.centroid(d) + ")";
                })
                .style("text-anchor", "middle")
        </script>#}
    {% endif %}
{% endblock %}